:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondary-color: #757575;
    --tertiary-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

address {
    width: 231px;
    font-style: normal;
    font-weight: 400;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus,
.filter-btn:hover,
.filter-btn:focus {
    color: var(--tertiary-color);
    background-color: var(--accent-color);
}

.hero-btn,
.filter-btn {
    cursor: pointer;
}

.hero-btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--tertiary-color);
    background-color: var(--accent-color);
}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.logo-link {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-header {
    color: #000000;
}

.menu-link,
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link {
    color: var(--primary-color);
}

.contact-link {
    color: var(--secondary-color);
}

.main-header {
    border-bottom: 1px solid #ECECEC;
}

.main-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
    margin-left: auto;
}

.hero {
    padding: 200px 0;
    text-align: center;
    background-color: #2F303A;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

.box-principle-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.box-principle-list {
    display: flex;
}

.box-principle-item {
    width: 270px;
}

.box-principle-item:not(:last-child) {
    margin-right: 30px;
}

.box-principle-title {
    margin-bottom: 10px;
}

.box-principle-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.box-work-title,
.box-team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.box-work-list {
    display: flex;
}

.box-work-item:not(:last-child) {
    margin-right: 30px;
}

.box-team {
    background-color: #F5F4FA;
}

.box-team-list {
    display: flex;
}

.box-team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--tertiary-color);
}

.box-team-item:not(:last-child) {
    margin-right: 30px;
}

.box-team-image {
    margin-bottom: 30px;
}

.box-team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.box-team-text {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.logo-link-footer {
    margin-right: 0;
    padding: 0;
}

.contact-footer {
    margin-top: 20px;
}

.logo-footer,
.contact-footer-map {
    color: var(--tertiary-color);
}

.contact-footer-map,
.contact-footer-link {
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}

.contact-footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.contact-footer-item:not(:last-child) {
    margin-bottom: 9px;
}